<!DOCTYPE html>
<html>
    <head>
        <title>Lifelink Health directory: A guide to making informed heath decisions</title>
        <link rel="stylesheet" href="/designs/features.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale =1">
        <link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Poppins:wght@200&display=swap" rel="stylesheet">

        <!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script> -->

    </head>

    <section id="features">
        <div class="title-text">
        <p>FEATURES</p> 
        <h1>Why Choose This Provider?</h1>
        </div>
        <div class="feature-box">
            <div class="features">
                <h1>Services Provided</h1>
                <div class="features-desc">
                    <div class="features-icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="features-text">
                        <p>The DUCHESS Hospital provides all the basic health care services and more with a total of up to 30 different services rendered.
                        </p>
                    </div>
                </div>
                <h1>Survival Rate</h1>
                <div class="features-desc">
                    <div class="features-icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="features-text">
                        <p>This health care provider has a 95% in-patient survival rate.
                        </p>
                    </div>
                </div>
                <h1>Cost Of Service</h1>
                <div class="features-desc">
                    <div class="features-icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="features-text">
                        <p>Reviews shows that the cost of service rendered here is quite high.
                        </p>
                    </div>
                </div>
            </div>
            <div class="features-img">
                <img src="/images/Duchess-Hospital.png" alt="Hospital building" srcset="">
            </div>
        </div>
        </section>


        <section id="features">
            <div class="title-text">
            <p>FEATURES</p> 
            <h1>Why Choose This Provider?</h1>
            </div>
            <div class="feature-box">
                <div class="features">
                    <h1>Services Provided</h1>
                    <div class="features-desc">
                        <div class="features-icon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <div class="features-text">
                            <p>The DUCHESS Hospital provides all the basic health care services and more with a total of up to 30 different services rendered.
                            </p>
                        </div>
                    </div>
                    <h1>Survival Rate</h1>
                    <div class="features-desc">
                        <div class="features-icon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="features-text">
                            <p>This health care provider has a 95% in-patient survival rate.
                            </p>
                        </div>
                    </div>
                    <h1>Cost Of Service</h1>
                    <div class="features-desc">
                        <div class="features-icon">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <div class="features-text">
                            <p>Reviews shows that the cost of service rendered here is quite high.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="features-img">
                    <img src="/images/Duchess-Hospital.png" alt="Hospital building" srcset="">
                </div>
            </div>
            </section>

            <section id="features">
                <div class="title-text">
                <p>FEATURES</p> 
                <h1>Why Choose This Provider?</h1>
                </div>
                <div class="feature-box">
                    <div class="features">
                        <h1>Services Provided</h1>
                        <div class="features-desc">
                            <div class="features-icon">
                                <i class="fa fa-user-md"></i>
                            </div>
                            <div class="features-text">
                                <p>The DUCHESS Hospital provides all the basic health care services and more with a total of up to 30 different services rendered.
                                </p>
                            </div>
                        </div>
                        <h1>Survival Rate</h1>
                        <div class="features-desc">
                            <div class="features-icon">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="features-text">
                                <p>This health care provider has a 95% in-patient survival rate.
                                </p>
                            </div>
                        </div>
                        <h1>Cost Of Service</h1>
                        <div class="features-desc">
                            <div class="features-icon">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <div class="features-text">
                                <p>Reviews shows that the cost of service rendered here is quite high.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="features-img">
                        <img src="/images/Duchess-Hospital.png" alt="Hospital building" srcset="">
                    </div>
                </div>
                </section>
        
</html>